@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Gravitas+One&display=swap');

@import url("sections/header.css");
@import url("sections/hero.css");
@import url("sections/menu.css");

* {
  margin: 0;
  padding: 0;
  font-family: 'Arvo', serif;
  font-weight: 400;
  color: #1D1D1D;
}