.hero-left {
  margin-top: 107px;
  padding-left: 70px;
}

.hero-left h1 {
  font-family: 'Gravitas One', serif;
  font-size: 60px;
}

.hero-left p {
  font-size: 20px;
  margin-top: 49px;
}

.hero-left button {
  font-size: 20px;
  padding: 14px 65px;
  background: transparent;
  border: none;
  outline: none;
  margin-top: 65px;
  position: relative;
}

.hero-left button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 267px;
  height: 52px;
  border-radius: 50%;
  border: 1px solid #1D1D1D;
  transform: skewY(-11deg);
  transform-origin: bottom;
}

.hero-left button:after {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 267px;
  height: 52px;
  border-radius: 50%;
  border: 2px solid #1D1D1D;
  transform: skewY(-6.9deg);
  transform-origin: bottom;
}

.pizza-carusel-hero-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 53px;
  padding-right: 70px;
}


.carusel-dish-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 33px;
  position: relative;
}

.carusel-dish-box h3 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.hero-carusel-prices {
  background: #FFCE9E;
  border-radius: 40px;
}

.price-border {
  display: flex;
  border-radius: 40px;
  justify-content: center;
  border: 1px solid #1D1D1D;
  margin: 2px 4px;
}

.hero-carusel-price-small {
  display: flex;
  align-items: center;
  padding: 4px 18px 4px 30px;
  border-right: 1px solid #1D1D1D;
}

.hero-carusel-price-big {
  display: flex;
  align-items: center;
  padding: 4px 17px 4px 30px;
}

.pizza-carusel-hero-box button {
  position: relative;
  background: transparent;
  border: 0;
  width: 98px;
  height: 33px;
}

.pizza-carusel-hero-box button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 98px;
  height: 33px;
  border: 2px solid #1D1D1D;
  background: #D9D9D9;
  transform: skewY(-5.9deg);
  transform-origin: bottom;
  z-index: -1;
}

.pizza-carusel-hero-box button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 98px;
  height: 33px;
  border: 1px solid #1D1D1D;
  transform: skewY(5.9deg);
  transform-origin: bottom;
  z-index: -1;
}

.header-right-number-box {
  border-bottom: 1px solid #1D1D1D;
}

h5 {
  font-size: 24px;
  font-family: 'Gravitas One', serif;
  margin-right: 8px;
}

.hero-carusel-prices p {
  font-size: 20px;
}

.socials-box {
  display: flex;
  bottom: 0;
  padding: 58px 70px 50px 50px;
  border-top: 1px solid #1D1D1D;
}

.social-arrow-img {
  margin-left: 15px;
}

.social-icon {
  margin-left: 15px;
}

.blur-hero-orange {
  position: absolute;
  top: 0;
  left: -44px;
  width: 332px;
  height: 312px;
  border-radius: 50%;
  background: #ECA157;
  filter: blur(130px);
  z-index: -1;
}

.blur-hero-black {
  position: absolute;
  width: 380px;
  height: 374px;
  border-radius: 380px;
  background: #1D1D1D;
  filter: blur(165px);
  z-index: -2;
}

.hero-blur-red {
  position: absolute;
  top: -212px;
  left: -40px;
  width: 746px;
  height: 756px;
  border-radius: 756px;
  background: #C3463E;
  filter: blur(225px);
  z-index: -2;
}

.hero-blur-yellow {
  position: absolute;
  top: 202px;
  left: 0px;
  width: 399px;
  height: 416px;
  border-radius: 416px;
  background: #FCE621;
  filter: blur(180px);
  z-index: -1;
}