.highlights {
  max-width: 1080px;
  margin: 0 auto;
  padding-top: 136px;
}

.higlights-title-button-box {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 52px;
  position: relative;
  margin-bottom: 70px;
}

.highlights-container {
  display: flex;
}

.higlights-title-button-box h2 {
  font-family: 'Gravitas One', serif;
  font-size: 50px;
  margin-bottom: -20px;
}

.higlight-box {
  padding: 150px 95px 28px 47px;
  border-left: 1px solid #1d1d1d;
  border-right: 1px solid #1d1d1d;
  border-top: 1px solid #1d1d1d;
  flex: 1;
}

.higlight-box:nth-child(2) {
  background: #1d1d1d;
}

.higlight-box:nth-child(2) h6,
.higlight-box:nth-child(2) p {
  color: #FEFEFE;
}

.higlight-box h6 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 28px;
}

.higlight-box p {
  font-size: 16px;
  line-height: 31px;
  color: #383838;
}

.button-watch {
  background: #FFCE9E;
  border-radius: 100px;
  padding: 5px 7px 5px 7px;
  margin-top: -14px;
}

.button-watch p {
  font-size: 12px;
  line-height: 17px;
  margin-left: 13px;
}

.play-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid #1d1d1d;
  margin-left: -1px;
}

.button-watch-border {
  display: flex;
  align-items: center;
  border: 1px solid #1d1d1d;
  border-radius: 100px;
  padding-right: 32px;
}

.line-highlights {
  transform: rotate(-5.416deg);
  position: absolute;
  bottom: -40px;
  right: 92px;
}

@media only screen and (max-width: 1080px) {
  .highlights  {
    padding: 135px 20px 0 20px;
  }

  .line-highlights {
    display: none;
  }
}

@media only screen and (max-width: 1058px) {
  .higlights-title-button-box h2 {
    font-size: 40px;
  }
}


@media only screen and (max-width: 970px) {
  .higlight-box {
    padding: 100px 20px 14px 14px;
  }
}

@media only screen and (max-width: 866px) {
.higlights-title-button-box h2 {
  font-size: 28px;
  }
} 

@media only screen and (max-width: 880px) {
  .higlights-title-button-box {
    flex-direction: column;
  }

  .button-watch {
    margin-top: 20px;
  }

  .higlights-title-button-box h2 {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 767px) {
  .higlights-title-button-box h2 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 658px) {
  .highlights-container {
    flex-direction: column;
  }
}