.menu {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
  margin-bottom: -1px;
}

.menu-left-container {
  padding-right: 182px;
  padding-top: 114px;
  position: relative;
}

.menu-left-container h2 {
  font-family: 'Gravitas One', serif;
  font-size: 55px;
  margin-bottom: 38px;
}

.menu-element-box {
  margin-bottom: 18px;
}

.menu-element-box:last-child {
  margin-bottom: 0;
}

.menu-element-box {
  display: flex;
  align-items: center;
}

.line-menu {
  width: 59px;
  height: 3px;
  background: #C1271D;
  margin-right: 20px;
  display: none;
}

.line-menu.active {
  display: block;
}

.menu-right-container {
  border-left: 1px solid #1D1D1D;
}

.dish {
  padding: 16px 0 16px 92px;
  display: flex;
  border-bottom: 1px solid #1D1D1D;
}

.filter {
  cursor: pointer;
}

.dish-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 59px;
}

.dish-name-and-spice-box h3 {
  font-weight: bold;
  font-size: 26px;
}

.dish-description {
  font-size: 20px;
  margin-bottom: 21px;
}

.dish-size {
  font-family: 'Gravitas One', serif;
  font-size: 24px;
  margin-right: 10px;
}

.dish-price {
  font-size: 20px;
}

.dish-price-box {
  display: flex;
  border: 1px solid #1D1D1D;
  border-radius: 40px;
  margin: 2px 4px;
}

.price-of-small,
.price-of-big {
  display: flex;
  align-items: center;
}

.price-of-small {
  border-right: 1px solid #1D1D1D;
}

.price-of-small {
padding: 2px 17px 2px 30px;
}

.price-of-big {
  padding: 2px 30px 2px 17px;
}

.price-background {
  background: #FFCE9E;
  border-radius: 40px;
}

.dish-name-and-spice-box {
  display: flex;
  gap: 23px;
  margin-bottom: 30px
}

.price-of-dish-one-size {
  padding: 2px 30px;
}

.menu-blur-red {
  position: absolute;
  top: 500px;
  left: -129px;
  width: 405px;
  height: 343px;
  border-radius: 435px;
  background: #C3463E;
  filter: blur(155px);
  z-index: -2;
}

.menu-blur-yellow {
  position: absolute;
  top: 696px;
  left: -155px;
  width: 338px;
  height: 253px;
  border-radius: 338px;
  background: #FCE621;
  filter: blur(120px);
  z-index: -1;
}

.pasta {
  display: none;
}

.panini {
  display: none;
}

.salad {
  display: none;
}

.dessert {
  display: none;
}

@media only screen and (max-width: 1440px) {
  .menu {
    overflow: hidden;
  }
}

@media only screen and (max-width: 1300px) {
  .menu {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 1228px) {
  .menu-left-container {
    padding-right: 90px;
  }

  .dish {
    padding: 16px 0 16px 50px;
  }
}

@media only screen and (max-width: 1100px) {
  .menu-left-container {
    padding-right: 50px;
  }

  .dish {
    padding: 16px 0 16px 20px;
  }

  .dish-text-box {
    padding-left: 20px;
  }
}

@media only screen and (max-width: 930px) {
  .dish img:first-child {
    width: 100%;
    max-width: 200px;
    height: 100%;
  }

  .dish-description {
    font-size: 16px;
  }
}

@media only screen and (max-width: 800px) {
  .menu-left-container{
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #1D1D1D;
  }

  .menu {
    flex-direction: column;
    padding: 0;
  }

  .menu-blur-red {
    display: none;
  }

  .menu-blur-yellow {
    display: none;
  }

  .dish {
    padding-right: 20px;
  }
}

@media only screen and (max-width: 505px) {
  .dish {
    flex-direction: column;
  }

  .dish img:first-child {
    max-width: 280px;
  }
}
